.super-mario {
    width: 200px;
    position: relative;
    left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: relative;
    left: -100px;
    top: 128px;
  }
  
  .baloon {
    position: relative;
    bottom: 380px;
    left: 300px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: relative;
    bottom: 260px;
    left: 320px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: relative;
    left: 300px;
  }